Repository hollomancer/teamWERX: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,json,md}": [
    "prettier --write"
  ],
  "lib/**/*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "bin/**/*.js": [
    "eslint --fix",
    "prettier --write"
  ]
}

Format code with Prettier and add lint tooling
  .lintstagedrc.json
  bin/teamwerx.js
  jest.config.js
  lib/commands/archive.js
  lib/commands/charter.js
  lib/commands/complete.js
  lib/commands/discuss.js
  lib/commands/execute.js
  lib/commands/goal.js
  lib/commands/init.js
  lib/commands/plan.js
  lib/commands/reflect.js
  lib/commands/research.js
  lib/commands/status.js
  lib/commands/summarize.js
  lib/commands/use.js
  lib/core/discussion-manager.js
  lib/core/goal-workspace-manager.js
  lib/core/implementation-manager.js
  lib/core/plan-manager.js
  lib/core/project-context.js
  lib/core/project-insights.js
  lib/utils/completion.js
  lib/utils/errors.js
  lib/utils/file.js
  lib/utils/git.js
  lib/utils/goal-status.js
  lib/utils/progress.js
  lib/utils/styling.js
  package-lock.json
  test/commands/goal.test.js
  test/commands/research.test.js
  test/commands/use.test.js
  test/core/discussion-manager.test.js
  test/core/plan-manager.test.js
  test/e2e/cli.test.js
  test/utils/file.test.js
  test/utils/git.test.js
  test/utils/goal-status.test.js
  test/utils/test-helpers.js
Due: prettier --write, eslint --fix

Enhance CLI and expand README docs
  README.md
  bin/teamwerx.js
  lib/commands/reflect.js
Due: prettier --write, eslint --fix

Standardize code style and improve CLI commands
  bin/teamwerx.js
  jest.config.js
  lib/commands/archive.js
  lib/commands/charter.js
  lib/commands/complete.js
  lib/commands/discuss.js
  lib/commands/execute.js
  lib/commands/goal.js
  lib/commands/init.js
  lib/commands/plan.js
  lib/commands/reflect.js
  lib/commands/research.js
  lib/commands/status.js
  lib/commands/summarize.js
  lib/commands/use.js
  lib/core/discussion-manager.js
  lib/core/goal-workspace-manager.js
  lib/core/implementation-manager.js
  lib/core/plan-manager.js
  lib/core/project-context.js
  lib/core/project-insights.js
  lib/utils/completion.js
  lib/utils/errors.js
  lib/utils/file.js
  lib/utils/git.js
  lib/utils/goal-status.js
  lib/utils/progress.js
  lib/utils/styling.js
  test/commands/goal.test.js
  test/commands/research.test.js
  test/commands/use.test.js
  test/core/discussion-manager.test.js
  test/core/plan-manager.test.js
  test/e2e/cli.test.js
  test/utils/file.test.js
  test/utils/git.test.js
  test/utils/goal-status.test.js
  test/utils/test-helpers.js
Due: prettier --write, eslint --fix

Disable no-constant-condition and fix quotes
  lib/commands/goal.js
  lib/commands/use.js
Due: prettier --write, eslint --fix

Made it prettier
  bin/teamwerx.js
  jest.config.js
  lib/commands/archive.js
  lib/commands/changes.js
  lib/commands/charter.js
  lib/commands/complete.js
  lib/commands/discuss.js
  lib/commands/execute.js
  lib/commands/goal.js
  lib/commands/init.js
  lib/commands/plan.js
  lib/commands/reflect.js
  lib/commands/research.js
  lib/commands/status.js
  lib/commands/summarize.js
  lib/commands/use.js
  lib/core/change-manager.js
  lib/core/discussion-manager.js
  lib/core/goal-workspace-manager.js
  lib/core/implementation-manager.js
  lib/core/plan-manager.js
  lib/core/project-context.js
  lib/core/project-insights.js
  lib/utils/completion.js
  lib/utils/errors.js
  lib/utils/file.js
  lib/utils/git.js
  lib/utils/goal-status.js
  lib/utils/progress.js
  lib/utils/styling.js
  test/commands/goal.test.js
  test/commands/research.test.js
  test/commands/use.test.js
  test/core/discussion-manager.test.js
  test/core/plan-manager.test.js
  test/e2e/cli.test.js
  test/utils/file.test.js
  test/utils/git.test.js
  test/utils/goal-status.test.js
  test/utils/test-helpers.js
Due: prettier --write, eslint --fix

Add change management docs and refactor CLI
  README.md
  lib/commands/changes.js
  test/core/change-manager.test.js
Due: prettier --write, eslint --fix

Register 'changes' command group for subcommands
  bin/teamwerx.js
Due: prettier --write, eslint --fix

Add diagnostics for change apply and lookup
  lib/commands/changes.js
  lib/core/change-manager.js
  test/e2e/changes-flow.test.js
Due: prettier --write, eslint --fix

Normalize quotes and harden CLI behavior
  README.md
  bin/teamwerx.js
  lib/commands/archive.js
  lib/commands/changes.js
  lib/commands/charter.js
  lib/commands/complete.js
  lib/commands/discuss.js
  lib/commands/execute.js
  lib/commands/goal.js
  lib/commands/init.js
  lib/commands/plan.js
  lib/commands/reflect.js
  lib/commands/research.js
  lib/commands/status.js
  lib/commands/summarize.js
  lib/commands/use.js
  lib/core/change-manager.js
  lib/core/discussion-manager.js
  lib/core/goal-workspace-manager.js
  lib/core/implementation-manager.js
  lib/core/plan-manager.js
  lib/core/project-context.js
  lib/core/project-insights.js
  lib/utils/ci-prompt.js
  lib/utils/completion.js
  lib/utils/errors.js
  lib/utils/file.js
  lib/utils/git.js
  lib/utils/goal-status.js
  lib/utils/progress.js
  lib/utils/styling.js
  test/core/change-manager.test.js
  test/e2e/changes-flow.test.js
Due: prettier --write, eslint --fix

Normalize quoting and CLI output
  bin/teamwerx.js
  lib/utils/ci-prompt.js
  lib/utils/goal-status.js
  lib/utils/styling.js
  test/e2e/cli.test.js
Due: prettier --write, eslint --fix

Remove unused imports in command files
  lib/commands/goal.js
  lib/commands/summarize.js
  lib/core/change-manager.js
  lib/utils/ci-prompt.js
Due: prettier --write, eslint --fix

Run unit tests with Jest and add e2e job
  .github/workflows/ci.yml
Due: none

Tune CI: Raise Node memory and split tests
  .github/workflows/ci.yml
Due: none

Add CI diagnostics and artifact uploads
  .github/workflows/ci.yml
Due: none

Replace inquirer with prompts wrapper
  bin/teamwerx.js
  lib/commands/archive.js
  lib/commands/changes.js
  lib/commands/complete.js
  lib/commands/goal.js
  lib/commands/init.js
  lib/commands/plan.js
  test/commands/goal.test.js
Due: prettier --write, eslint --fix

Add logger and prompts utilities
  lib/commands/archive.js
  lib/commands/changes.js
  lib/commands/complete.js
  lib/utils/logger.js
  lib/utils/prompts.js
  test/commands/goal.test.js
  test/commands/research.test.js
  test/commands/use.test.js
  test/utils/test-helpers.js
Due: prettier --write, eslint --fix

Go migration plan
  docs/GO_MIGRATION_PLAN.md
Due: prettier --write

Phase one of spec management feature
  bin/teamwerx.js
  lib/commands/changes.js
  lib/commands/specs.js
  lib/core/change-manager.js
  lib/core/spec-delta-parser.js
  lib/core/spec-manager.js
  lib/core/spec-merger.js
  test/core/spec-manager.test.js
Due: prettier --write, eslint --fix

Add changes validate command and spec merge tests
  bin/teamwerx.js
  lib/commands/changes.js
  lib/core/spec-merger.js
  test/integration/spec-merge.test.js
Due: prettier --write, eslint --fix

Add spec merging and conflict resolution
  bin/teamwerx.js
  docs/HYBRID_MODEL_TRANSITION.md
  docs/spec-merging.md
  lib/commands/changes.js
  lib/core/change-manager.js
  lib/core/spec-delta-parser.js
  lib/core/spec-merger.js
Due: prettier --write, eslint --fix

Initial go commit
  .github/workflows/go-ci.yml
  .teamwerx/specs/auth/spec.md
  Makefile
  cmd/teamwerx/.gitkeep
  cmd/teamwerx/main.go
  docs/GO_MIGRATION_CHECKLIST_V2.md
  go.mod
  go.sum
  internal/core/.gitkeep
  internal/core/interfaces.go
  internal/core/spec_manager.go
  internal/core/spec_merger.go
  internal/core/spec_parser.go
  internal/core/spec_serializer.go
  internal/errors/errors.go
  internal/model/.gitkeep
  internal/model/models.go
  internal/utils/.gitkeep
  internal/utils/string.go
Due: prettier --write

Merge func
  internal/core/spec_manager.go
  internal/core/spec_manager_test.go
  internal/core/spec_merger.go
  internal/core/spec_merger_conflict_test.go
  internal/core/spec_merger_test.go
  internal/core/spec_parser_test.go
  internal/core/spec_serializer_test.go
  internal/core/testutil.go
  internal/errors/errors.go
  internal/model/models.go
  internal/utils/hash.go
  internal/utils/string.go
Due: none

Enhance Go CI workflow
  .github/workflows/go-ci.yml
  docs/GO_MIGRATION_CHECKLIST_V2.md
Due: prettier --write

Add file-backed ChangeManager and git utils
  docs/GO_MIGRATION_CHECKLIST_V2.md
  internal/core/change_manager.go
  internal/core/change_manager_test.go
  internal/utils/git/git.go
Due: prettier --write

Add Go CLI docs and remove e2e CLI helpers
  .github/workflows/release.yml
  README.md
  internal/core/e2e_change_conflict_test.go
  internal/core/e2e_cli_test.go
  internal/core/e2e_testutil.go
Due: prettier --write

Enable Goreleaser auto-publish
  .goreleaser.yaml
  internal/core/e2e_multi_spec_multi_delta_test.go
Due: none

Mark release items done and add GoReleaser badge
  README.md
  docs/GO_MIGRATION_CHECKLIST_V2.md
  internal/core/e2e_migrate_check_test.go
Due: prettier --write

Migrate docs to Go CLI and archive Node docs
  MIGRATION.md
  README.md
  docs/archive/CONTRIBUTING-node.md
  docs/archive/HYBRID_MODEL_TRANSITION.md
Due: prettier --write
